/* MAZE */

.middle {
    position: relative;
    width: 500px;
    margin: auto;
    margin-top: 25vh;
}
svg:not(#svg-question) {
    width: 100%;
    display: block;
    position: relative;
}
.control-container {
    position: absolute;
    top: 0px;
    width: 400px;
    font-family: arial;
}
.speed,
.delay {
    width: 50px;
}
img {
    width: 100px;
}

#svg-question {
    position: absolute;
    top: 40%;
    left: 47.8%;
    opacity: 0;
    animation: show 7.5s ease-in-out forwards alternate;
}

/* Text */
@keyframes show {
    0% {
    }
    100% {
        opacity: 1;
    }
}

.text-js {
    opacity: 0;
}
.text-js {
    opacity: 0;
}
.cursor {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    opacity: 0;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
    animation-iteration-count: 15;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Rest of CSS (Purely for this pen)
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

// Text Can be styled just like normal

.headline-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.headline {
    // padding-left: 25%;
    margin: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
    h1 {
        text-align: center;
        letter-spacing: 1.6px;
        font-weight: 300;
    }
}
